/*
This a comment for our information only
<link rel="stylesheet" type="text/css" href="css/main.css" />
element {
	property1: value1;
	property2: value2;
}
*/

body {
    color: royalblue;
    background: skyblue;
	font-family:georgian;
}
a {
    color: white;
}
img {
    background: white;
    height: 80px;
    width: 80px;
}
.red {
	color: red;
}
.center{
text-align:center;
}
.margin50{
margin-left:50px;
}
.margin75{
margin-left:100px;
}
.white{
background-color:white;
color:black;
}
.bg-image{
background-image:url("../img/logo/google.png");
background-repeat:no-repeat;
}