#centralDiv {
    margin-top: 140px;
    margin-left: 0px;
    text-align: center;
    padding: 10px;
}
img {
    height: 100px;
}
input {
    width: 500px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
}
.bottom-spacing {
    margin-bottom: 40px;
}
.list-inline {
    list-style-type: none;
    display: inline;
    padding: 0;
}
.list-inline li {
    display: inline;
    padding: 5px;
}
